---
import { siteConfig } from '../config';
---

<footer class="border-t">
  <div class="text-muted-foreground mx-auto max-w-5xl px-5 py-8 text-sm">
    © {new Date().getFullYear()}
    {siteConfig.name}.
  </div>
</footer>
